:root {
  --background: #ffffff;
  --foreground: #1F2937;
}

@theme {
  --color-primary: #1E3A8A;
  --color-secondary: #3B82F6;
  --color-background: #FFFFFF;
  --color-text: #1F2937;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-vazirmatn: "Vazirmatn";
  --font-mono: "Vazirmatn";
}